<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.freeclinic.android">
    <application android:persistent="true"
    	android:icon="@drawable/freeclinic"
    	android:label="@string/app_name">
        <activity
        	android:name="FreeClinicActivity" android:stateNotNeeded="false" android:multiprocess="true"  android:launchMode="multiple" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".component.activity.PatientActivity" 
        	android:label="Patient" android:stateNotNeeded="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.INSERT"/>
				<category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="org.freeclinic.cursor.dir/org.freeclinic.patient" />
            </intent-filter>
        </activity>
        <service android:name=".service.FCPService"></service>
        
        <!-- provider android:name=".component.provider.FCPProvider" android:authorities="org.freeclinic" android:multiprocess="false"/-->
        <!-- provider android:name=".component.provider.FCPProvider" android:authorities="org.freeclinic" android:multiprocess="false"/ -->
        <provider android:name=".component.provider.ClinicProvider" android:authorities="org.freeclinic.provider" android:multiprocess="false"/>
        
        <activity android:name=".component.activity.SettingsActivity" android:label="Free Clinic Project Settings">
            
        </activity>
        <activity android:label="Chart Viewer" android:name=".component.activity.ChartActivity">
            
        </activity>
        
        
    <activity android:clearOnBackground="true" android:name=".component.activity.MessageAddActivity" android:label="Add Message">
</activity><activity android:name=".component.activity.VitalsActivity" android:theme="@style/Theme.Translucent" android:label="Collect Patient Vitals">
</activity><activity android:name=".component.activity.CheckInActivity">
</activity><activity android:name=".component.activity.LoginActivity" android:theme="@style/Theme.Translucent">
</activity><activity android:name=".component.activity.RegistrationActivity" android:label="Register Device">
</activity><activity android:name=".component.activity.PatientMessageActivity" android:label="Patient Message">
</activity><activity android:name=".component.activity.MessageUpdateActivity" android:label="Updating Messages">
</activity><activity android:name=".component.activity.AllergiesActivity" android:label="Allergies">
</activity><activity android:name=".component.activity.PatientHistoryActivity">
</activity><activity android:name=".component.activity.PatientDetailsActivity">
</activity><activity android:name=".component.activity.PatientMedicationActivity">
</activity><activity android:name=".component.activity.SSLTestActivity">
</activity></application>
<uses-permission android:name="android.permission.RECEIVE_SMS">
</uses-permission></manifest> 